:root{
    --primary: #1f6cbe;
    --secondary: #8534ae;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --white: #fff;
    --black: #000;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #6c757d;
    --gray-dark-color: #343a40;
    --font-size: 1rem;
    --font-weight: 400;
    --line-height: 1.5;
    --border-radius: 0.25rem;
    --border-width: 1px;
    --border-color: #dee2e6;
    --border-radius-lg: 0.3rem;
    --border-radius-sm: 0.2rem;
    --border-radius-pill: 50rem;
    --border-radius-circle: 50%;
    --border-radius-top: 0.25rem 0.25rem 0 0;
    --border-radius-right: 0 0.25rem 0.25rem 0;
    --border-radius-bottom: 0 0 0.25rem 0.25rem;
    --border-radius-left: 0.25rem 0 0 0.25rem;
    --border-radius-top-lg: 0.3rem 0.3rem 0 0;
    --border-radius-right-lg: 0 0.3rem 0.3rem 0;
    --border-radius-bottom-lg: 0 0 0.3rem 0.3rem;
    --border-radius-left-lg: 0.3rem 0 0 0
}