doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    body
        // this is html seen comment
        ul
            li skill 1
            li skill 2
            li skill 3
            
        //- this is pug js seen comment

        //
         this is multiple line
         comment by me