body{
  width:100vw;
  height:100vh;
  overflow:hidden;
  box-sizing: border-box;
}
nav{
  width: 100vw;
  height: 45px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
li,a{
  font-size:1.3em;
  text-decoration: none;
  color: black;
}
h1{
  text-align:center;
  padding: 50px 0;
}

.active{
  background-color : yellow;
}