@import "./abstract/_colors";
@import "./abstract/_fonts";
@import "./base/mixins";
@import "./base/_base";

@import "./components/card";




h1{
  padding: 10px 0;
  text-align: center;
}

.box {
  padding: 10px;
  height: 200px;
  h2 {
    background-color: green;
  }
}
